@{

    <meta name="description" content="Our mission: Construction Management Global is committed to build first class Construction Management (CM) and Project Management (PM) organization, whose fundamentals are: trust, integrity, professionalism and value.">
    <meta name="keywords" content="Construction services in Arizona, construction in Hawaii, construction in Caribbean Islands, Russia, General Contractor, Builder Developer in South Africa, New Home Construction in Canada, Remodel & Restoration, Insurance Work (CAT Team), Roofs, Construction in Seychelles, Rentals in China">
    <meta name="author" content="Taylor Bishop" />
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";


}
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            /*max-height: 680px;*/
        }

        .body {
            width: 100%;
        }

        #body {
            width: 100%;
            background: linear-gradient(lightskyblue,grey);
            
        }
    </style>
<br />
<h1 class="textSection" style="font-family:'Palatino Linotype';">Welcome</h1>
<h2 style="font-family:aleo-regular; font-size:24px; text-align:center; max-width:1680px;" >We're Construction Management Global, a leading global construction &amp; project management company committed to build first class construction.</h2>
@*<hr style="border-top: 1px solid #337ab7; width:100%;" />*@
<div style="text-align:center;"><img src="~/Images/John.png" style="width:256px;" /></div>
<p class="textSection" style="text-align:center;"><i>John Dunatov, Managing Partner </i></p>
<hr />
<br /><br />
<div style="width:100%;">
    <p class="textSection">
        John Dunatov, has lifelong experience in construction; working for over 33 years in the industry and working on over 100 hotels.
        John invites you to learn more about CMG which is specifically geared towards his hotel/resort and residential projects in the United States and internationally.
    </p>
    <p class="textSection"><u>John was the founder and key executive of the following companies</u>:</p>
    <ul>
        <li>
            <p class="textSection" style="text-indent:0px;"><i>Phoenix Global Consultants Inc, in the US and Internationally with the mission to continue to be a great developer contractor, and, in recent years, expanding services in franchise developing. Now including spa810, offering licenses in USA, Canada, Puerto Rice and soon the United Kingdom and Ireland.</i></p>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;"><i>V.I.P Hotel Management and Development - Montenegro</i></p>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;"><i>Jadranski Maestral D.O.O - Croatia</i></p>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;"><i>Suez 2816, Inc. - US</i></p>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;"><i>Phoenix International, Inc - US</i></p>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;"><i>Bay Pacific, Inc - US (Ranked as one of the top 100 CM Risk firms in the USA by ENR Magazine.)</i></p>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;"><i>Construction Management America, Inc. - US</i></p>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;"><i>JDA Building Unlimited, Inc. - US</i></p>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;"><i>Adriatic Construction - US</i></p>
        </li>
    </ul>
    <p class="textSection">John's career in the building industry started in New York immediately after he graduated from the Valhalla Technical school for Construction.</p>
    <p class="textSection">After John estabished himself as a small residential renovations contractor in New York, John relocated both family and business to Arizona where he has maintained his corporate headquarters since 1980. In early 1980's work opportunities took John all over the United States, working for hotels/resorts, selective clients, and later in the early 1990's his experience expanded to international projects. Throughout the years, John has taken advantage of booming construction and selective niche markets in which he organized his presence by opening regional offices in Orlando, FL; Atlanta, GA; Houston, TX; Las Vegas, NV; Lihue, HI; Dallas, TX; Zagreb, Croatia; and Podgorica, Montenegro.</p>
    <p class="textSection">In total, John's companies have been directly involved with well over 100 notable hotels/resorts in the US and internationally. Work included renovations of more than 20,000 guest rooms, public spaces, hotel exteriors and major additions to hotel properties as well as ground up construction. John's services include specifically tailored Project Management and Construction Management Programs as well as full scope of General Contractor Services for selective groups of owners and investors.</p>
    <p class="textSection">In the residential sector, John's companies build well over 2,500 single family homes in Hawaii for a large home developer as well as for private clients. In Arizona, John's companies have build hundreds of new luxury apartments and homes as well as renovated serveral thousand apartments, which were either upgraded apartments or converted to condominiums. Many single-family homes were also built and renovated throughout Arizona and the US. Construction Management Global has been and will continue to be the exclusive construction and project manager for all spa810's across the United States.</p>
    <p class="textSection">John's ambition is to continue building his business and eventually turn it over to his son, Ivan and his daughters, Doris and Clementine, and other partners, who have participated for many years by working in all geographical areas in various job roles.</p>
    <p class="textSection"> John's philosophy was and continues to be "Be honest, work hard, do good work and clients will come to you," and "Honor your word and your commitments."</p>

    @*<h1>Picture will go here</h1>*@
    <a name="Wyatt"></a><div style="text-align:center;"><img src="~/Images/Wyatt Whitham.jpg" style="width:256px;" /></div>
    <p class="textSection" style="text-align:center;"><i>Wyatt Whitham, USCG Ret. Senior VP of Operations, Partner </i></p>
    <hr />
    <p class="textSection"> Wyatt invites you to review the CMG presentation, he is also excited to hear from you and to move your project forward. </p>
    <p class="textSection">Wyatt in some fashion has been in and around the construction industry throughout his career. Shortly after beginning his construction career, he enlisted in the US Coast Guard. In the CG he served in the Motor life Boat Stations as well as in the aviation fixed wing stations. Although his career was cut short he did retire as distinguished aircrew member (with rescue and surveillance missions all over the world) from Air Station Sacramento CA. One of Wyatt's most prized awards he was given was his Team Accommodation Award. He and his crew earned this through 104 lives saved or rescued and approximately a million dollars of personal and commercial property recovered over a 36 hours period. After retiring he then began working for Honeywell Aerospace. Here he worked as a Electrical Analyst and focused on business processes and improvements. He gained certifications in Six Sigma, Green Belt and DFSS in which his projects, through process reorganizing, had an estimated 2.6 million dollars of savings.</p>
    <p class="textSection">
        Wyatt with his personal drive for growth left the aerospace industry and jumped back into the construction field. He first worked with some of the major home builders in the Phoenix area building thousands of homes. A project Wyatt was honored to be a part of is the on going Phoenix valley rail system. Wyatt's core values have been his drive for continuing education, pride in his work and relationships, professionalism and approach to his work and most of all his leadership through his vast experience. Personally he is a proud husband and father. He and his family enjoy an active life hiking and mountain biking through the trails around their home, spending a day on the lake or taking the family's Dalmatian named "Geronimo" to the dog park.
        A notable personal value he holds close is his area of volunteering. During his period of retiring from the CG he learned of the Disabled American Veterans or "DAV". He worked closely with the officers at that time and has continued through volunteering and donations to be apart of the DAV. He is also nationally and an Arizona State Certified Emergency Medical Technician and has spent time volunteering at local Fire Departments.
    </p>

    @*<h1>Picture will go here</h1>*@
    <a name="Luka"></a><div style="text-align:center;"><img src="~/Images/Luka Longin.PNG" style="width:256px;" /></div>
    <p class="textSection" style="text-align:center;"><i>Luka Longin, Director of Development - European Union</i></p>
    <hr />
    <p class="textSection">Luka Longin started his career as architectural draftsman working for Michaeler &amp; Partner - Vien, Austria / outlet Zadar, Croatia where he developed his ambition for project management while working on a residence and vacation club Punta Skala in Petrcane, Croatia.</p>
    <p class="textSection">Involved in solving planning and engineering problems in hotel and resorts program Mr. Longin at first managed the underground car park for 750 vehicles from where he was moved to Architecture department to help complete 210 apartments in 5-star Luxury Spa Hotel Ladera &amp; 250 apartments in 4-star Family Hotel Diadora. After 5 years of work the result was completion of biggest residence &amp; vacation club in Croatia with gross floor area approximately 105,000m² and overall value of 250M €.</p>
    <p class="textSection">After six years of building a reputation as a talented architecture expert with a strong track record of developing hotels and resorts, his devotion to develop and learn led him to be part of creating square of Pope John Paul II in Zadar, Croatia. That project was awarded second place in the competition of 634 worldwide projects of 20th international architectural awards CEMEX.</p>
    <p class="textSection">In 2013 after years of freelancing Mr. Longin has developed a particular fondness for the sales and marketing business as well as franchising. His new passion led him to work for one of the biggest leading food companies in the region with the renowned regional brands which is, alongside the product range of external partners, supported by own distribution system in the region - Atlantic Grupa. Their products are highly represented in Russia, the CIS and Western European countries, and with its product range of sports food, Atlantic is the leading European company in this segment. Mr. Longin began his wholesale career in Atlantic as a senior sales manger where he worked untill 2014 and meeting with Mr. John Dunatov</p>
    <p class="textSection">Given the chance to work with Mr. Dunatov and his managment team Mr. Longin decided to join and help develop Construction Management Global to european countries and worldwide. Mr. Longin was promoted to Director of Development for the European Union from where he will continue to expand and build Construction Management Global.</p>

    <h2 style="font-family:'Palatino Linotype'; color:#0033ce;">Organization:</h2>
    <ul>
        <li>
            <p class="textSection" style="text-indent:0px;">John Dunvatov, <i>Managing Partner</i></p>
            <ul>
                <li><p class="textSection" style="text-indent:0px;">Lead Generation</p></li>
                <li><p class="textSection" style="text-indent:0px;">Negotiation of Contracts with Clients</p></li>
                <li><p class="textSection" style="text-indent:0px;">Relationship Building</p></li>
            </ul>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;">Robert Chernick, <i>Senior Advisor</i></p>
            <ul>
                <li><p class="textSection" style="text-indent:0px;">Contracts Administration</p></li>
                <li><p class="textSection" style="text-indent:0px;">Financing</p></li>
                <li><p class="textSection" style="text-indent:0px;">Draws Administration</p></li>
            </ul>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;">Luka Longin, <i>Director of Development - European Union</i></p>
            <ul>
                <li><p class="textSection" style="text-indent:0px;">Contracts Administration</p></li>
                <li><p class="textSection" style="text-indent:0px;">Financing</p></li>
                <li><p class="textSection" style="text-indent:0px;">Draws Administration</p></li>
            </ul>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;">Wyatt Whitham, <i>Senior VP of Operations, Partner</i></p>
            <ul>
                <li><p class="textSection" style="text-indent:0px;">Operations / Quality Control</p></li>
            </ul>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;">Project Managers, <i>as required</i></p>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;">Field Supervisors, <i>as required</i></p>
            <ul>
                <li><p class="textSection" style="text-indent:0px;">Ivan Dunatov</p></li>
                <li><p class="textSection" style="text-indent:0px;">Others as required</p></li>
            </ul>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;">Office Administration</p>
        </li>
    </ul>
    <h2 style="font-family:'Palatino Linotype'; color:#0033ce;">Our Professional Associates &amp; Key Vendors: </h2>
    <div>
        <ul>
            <li>
                <p class="textSection" style="text-indent:0px;">Rafael Shenk, President</p>
                <ul>
                    <li><p class="textSection" style="text-indent:0px;"> Shenk-Trade | FFE Manufacturer </p> </li>
                    <li><button class="button2" onclick="window.open('https://senkinterior.com/sl/')">View Website</button></li>
                </ul>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;">Josh</p>
                <ul><li><p class="textSection" style="text-indent:0px;">Architect specializing in small multi residential &amp; small commerical projects </p> </li></ul>
            </li>
        </ul>
    </div>
   <a name="Mission"> <h2 style="font-family:'Palatino Linotype'; color:#0033ce;">Our Mission:</h2></a>
    <p class="textSection">
        Committed to build a first class Construction Management (CM) and Project Management (PM)
        organization, whose fundamentals are: trust, integrity, professionalism and value.
    </p>
    <h2 style="font-family:'Palatino Linotype'; color:#0033ce;">Specializing in:</h2>
    <ul>
        <li>
            <p class="textSection" style="text-indent:0px;">Development, Construction, Renovation, FFE Procurement</p>
            <ul>
                <li><p class="textSection" style="text-indent:0px;">Hospitality industry</p></li>
                <li><p class="textSection" style="text-indent:0px;">High-end residential/condominiums</p></li>
                <li><p class="textSection" style="text-indent:0px;">Apartments/small commerical</p></li>
            </ul>
        </li>

    </ul>

    @*<a name="Services"><h2 style=" font-family:'Palatino Linotype'; color:#0033ce;">Services: </h2></a>
    <ul>
        <li><p class="textSection" style="text-indent:0px;">Assist with financial sourcing, equity and debt</p></li>
        <li><p class="textSection" style="text-indent:0px;">Project budget development</p></li>
        <li><p class="textSection" style="text-indent:0px;">Owners/lenders representatives</p></li>
        <li><p class="textSection" style="text-indent:0px;">Select qualified contractors</p></li>
        <li><p class="textSection" style="text-indent:0px;">Recommend best type of contract for project</p></li>
        <li><p class="textSection" style="text-indent:0px;">Recommend choice contractor for hire</p></li>
        <li><p class="textSection" style="text-indent:0px;">Negotiate best contract with best and most qualified contractor</p></li>
        <li>
            <p class="textSection" style="text-indent:0px;">Offer full-time on-site CM/representation </p><ul>
                <li><p class="textSection" style="text-indent:0px;">This will depend on size and scope of work</p></li>
            </ul>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;">Monitor and approve draws and recommend payments to be made by owners to contractors</p>
        </li>
        <li><p class="textSection" style="text-indent:0px;">Assure owner all lien waivers are current and correct</p></li>
        <li><p class="textSection" style="text-indent:0px;">Assure owner plan/specifications are fully adhered to</p></li>
        <li><p class="textSection" style="text-indent:0px;">Assure owner all permits/inspections are done on timely basis</p></li>
        <li>
            <p class="textSection" style="text-indent:0px;"> Monitor progress and any changes in scope of work to avoid change orders to protect cost overruns or approve change orders if appropriate and valid</p>
        </li>
        <li><p class="textSection" style="text-indent:0px;">Assure project is completed on timely and agreed upon basis</p></li>
        <li>
            <p class="textSection" style="text-indent:0px;">
                Assure owner is given all warranties as required by plans/specifications and governmental
                agencies
            </p>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;">
                Complete project wrap up, collect all unconditional lien waivers and assist all involved
                partners in project closeout
            </p>
        </li>
    </ul>*@

    <a name="Projects"><h2 style="font-family:'Palatino Linotype'; color:#0033ce;">Projects Committed and in Progress </h2></a>

    <ul>
        <li>
            <p class="textSection" style="text-indent:0px;">Spa810 units in development</p>
            <ul>
                <li><p class="textSection" style="text-indent:0px;"> Role - CM/PM </p> </li>
                <li><p class="textSection" style="text-indent:0px;"> Pilot unit in Nashville, Tennessee </p> </li>
                <li><p class="textSection" style="text-indent:0px;"> Pilot unit in Cincinnati, Ohio </p> </li>
                <li><p class="textSection" style="text-indent:0px;"> Pilot unit in Columbus, Ohio </p> </li>
                <li><p class="textSection" style="text-indent:0px;"> Relocating corporate unit in Scottsdale, AZ </p> </li>
                <li><p class="textSection" style="text-indent:0px;"> Exclusive CM/PM for Brioni LLC, owner of Spa810 California (6 regions) </p> </li>
            </ul>
        </li>
        <li>
            <p class="textSection" style="text-indent:0px;">Two custom homes in Wilcox, AZ</p>
            <ul>
                <li><p class="textSection" style="text-indent:0px;">Role - CM/PM</p></li>
            </ul>
        </li>

    </ul>
</div>

