@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";

}
<br />
<h1 class="textSection" style="font-family:'Palatino Linotype';">Welcome</h1>
<h2 style="font-family:aleo-regular; font-size:24px; text-align:center;">We're Construction Management Global, a leading global construction &amp; project management company committed to build first class construction.</h2>
<hr style="border-top: 1px solid #337ab7; width:100%;" />
<img class="center" src="~/Images/John Dunatov.jpg" />
<br /><br />
      <div style="width:100%; max-width:900px; display:inline-block;">
          <p class="textSection">
              John Dunatov, featured above, after self-career in construction for over 33 years and working on over 100 hotels
              (renovated or built from ground up) and resorts in US and Internationally and building thousands of homes in Hawaii as well as Phoenix greater area, John decided to enter the franchise business himself at the recommendation of Dr. Peter Thomas; whom John built Scottsdale Four Seasons resort for and renovated many more hotels for.
          </p>
          <p class="textSection">With lifelong construction development experience we have brought on board a seamless development process of developing the units whereby we identify the best and most appropriate locations, we do all the negotiations with the landlord for rent, tenant improvement allowances. We spear head all the design, we manage all the construction, we procure all professional equipment and product and deliver the unit turnkey in record time which no other known brand does for its franchisees.</p>
          <h2 style="font-family:'Palatino Linotype'; color:#0033ce;">Organization:</h2>
          <ul>
              <li>
                  <p class="textSection" style="text-indent:0px;">John Dunvatov, <i>Managing Partner</i></p>
                  <ul>
                      <li><p class="textSection" style="text-indent:0px;">Lead Generation</p></li>
                      <li><p class="textSection" style="text-indent:0px;">Negotiation of Contracts with Clients</p></li>
                      <li><p class="textSection" style="text-indent:0px;">Relationship Building</p></li>
                  </ul>
              </li>
              <li>
                  <p class="textSection" style="text-indent:0px;">Robert Chernick, <i>Senior Advisor</i></p>
                  <ul>
                      <li><p class="textSection" style="text-indent:0px;">Contracts Administration</p></li>
                      <li><p class="textSection" style="text-indent:0px;">Financing</p></li>
                      <li><p class="textSection" style="text-indent:0px;">Draws Administration</p></li>
                  </ul>
              </li>
              <li>
                  <p class="textSection" style="text-indent:0px;">Wyatt Whitham, <i>Senior VP of Operations</i></p>
                  <ul>
                      <li><p class="textSection" style="text-indent:0px;">Operations / Quality Control</p></li>
                  </ul>
              </li>
              <li>
                  <p class="textSection" style="text-indent:0px;">Project Managers, <i>as required</i></p>
              </li>
              <li>
                  <p class="textSection" style="text-indent:0px;">Field Supervisors, <i>as required</i></p>
                  <ul>
                      <li><p class="textSection" style="text-indent:0px;">Ivan Dunatov</p></li>
                      <li><p class="textSection" style="text-indent:0px;">Others as required</p></li>
                  </ul>
              </li>
              <li>
                  <p class="textSection" style="text-indent:0px;">Office Admin</p>
              </li>
          </ul>
          <h2 style="font-family:'Palatino Linotype'; color:#0033ce;">Our Professional Associates &amp; Key Vendors: </h2>
          <div>
              <ul>
                  <li>
                      <p class="textSection" style="text-indent:0px;">Rafael Shenk, President</p>
                      <ul>
                          <li><p class="textSection" style="text-indent:0px;"> Shenk-Trade | FFE Manufacturer </p> </li>
                          <li><button class="button2" onclick="window.open('https://senkinterior.com/sl/')">View Website</button></li>
                      </ul>
                  </li>
                  <li>
                      <p class="textSection" style="text-indent:0px;">Josh</p>
                      <ul><li><p class="textSection" style="text-indent:0px;">Arcitect specializing in small multi residential &amp; small commerical projects </p> </li></ul>
                  </li>
              </ul>
          </div>
          <h2 style="font-family:'Palatino Linotype'; color:#0033ce;">Our Mission:</h2>
          <p class="textSection">
              Committed to build first class Construction Management (CM) and Project Management (PM)
              organization, whose fundamentals are: trust, integrity, professionalism and value.
          </p>
          <h2 style="font-family:'Palatino Linotype'; color:#0033ce;">Specializing in:</h2>
          <ul>
              <li>
                  <p class="textSection" style="text-indent:0px;">Development, Construction, Renovation, FFE Procurement</p>
                  <ul>
                      <li><p class="textSection" style="text-indent:0px;">Hospitality industry</p></li>
                      <li><p class="textSection" style="text-indent:0px;">High-end residential/condominiums</p></li>
                      <li><p class="textSection" style="text-indent:0px;">Apartments/small commerical</p></li>
                  </ul>
              </li>

          </ul>

          <a name="Services"><h2 style=" font-family:'Palatino Linotype'; color:#0033ce;">Services: </h2></a>
          <ul >
              <li><p class="textSection" style="text-indent:0px;">Assist with financial sourcing, equity and debt</p></li>
              <li><p class="textSection" style="text-indent:0px;">Project budget development</p></li>
              <li><p class="textSection" style="text-indent:0px;">Owners/lenders representatives</p></li>
              <li><p class="textSection" style="text-indent:0px;">Select qualified contractors</p></li>
              <li><p class="textSection" style="text-indent:0px;">Recommend best type of contract for project</p></li>
              <li><p class="textSection" style="text-indent:0px;">Recommend choice contractor for hire</p></li>
              <li><p class="textSection" style="text-indent:0px;">Negotiate best contract with best and most qualified contractor</p></li>
              <li>
                  <p class="textSection" style="text-indent:0px;">Offer full-time on-site CM/representation </p><ul>
                      <li><p class="textSection" style="text-indent:0px;">This will depend on size and scope of work</p></li>
                  </ul>
              </li>
              <li>
                  <p class="textSection" style="text-indent:0px;">Monitor and approve draws and recommend payments to be made by owners to contractors</p>
              </li>
              <li><p class="textSection" style="text-indent:0px;">Assure owner all lien waivers are current and correct</p></li>
              <li><p class="textSection" style="text-indent:0px;">Assure owner plan/specifications are fully adhered to</p></li>
              <li><p class="textSection" style="text-indent:0px;">Assure owner all permits/inspections are done on timely basis</p></li>
              <li>
                  <p class="textSection" style="text-indent:0px;"> Monitor progress and any changes in scope of work to avoid change orders to protect cost overruns or approve change orders if appropriate and valid</p>
              </li>
              <li><p class="textSection" style="text-indent:0px;">Assure project is completed on timely and agreed upon basis</p></li>
              <li>
                  <p class="textSection" style="text-indent:0px;">
                      Assure owner is given all warranties as required by plans/specifications and governmental
                      agencies
                  </p>
              </li>
              <li>
                  <p class="textSection" style="text-indent:0px;">
                      Complete project wrap up, collect all unconditional lien waivers and assist all involved
                      partners in project closeout
                  </p>
              </li>
          </ul>

          <a name="Projects"><h2 style="font-family:'Palatino Linotype'; color:#0033ce;">Projects Committed and in Progress </h2></a>

          <ul>
              <li>
                  <p class="textSection" style="text-indent:0px;">Spa810 units in development</p>
                  <ul>
                      <li><p class="textSection" style="text-indent:0px;"> Role - CM/PM </p> </li>
                      <li><p class="textSection" style="text-indent:0px;"> Pilot unit in Nashville, Tennessee </p> </li>
                      <li><p class="textSection" style="text-indent:0px;"> Pilot unit in Cincinnati, Ohio </p> </li>
                      <li><p class="textSection" style="text-indent:0px;"> Pilot unit in Columbus, Ohio </p> </li>
                      <li><p class="textSection" style="text-indent:0px;"> Relocating corporate unit in Scottsdale, AZ </p> </li>
                      <li><p class="textSection" style="text-indent:0px;"> Exclusive CM/PM for Brioni LLC, owner of spa810 California (6 regions) </p> </li>
                  </ul>
              </li>
              <li>
                  <p class="textSection" style="text-indent:0px;">Two custom homes in Wilcox, AZ</p>
                  <ul>
                      <li><p class="textSection" style="text-indent:0px;">Role - CM/PM</p></li>
                  </ul>
              </li>

          </ul>
      </div>

      <aside>

          <img src="~/Images/spa810 Ankeny in Iowa.png" width="100%"/>
      </aside>
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        max-height: 540px;
    }
    .body{
        width:100%;
    }
    #body{
        width:100%;
    }
</style>