@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<div class="banner">
    <br /><br />
    <h1 class="textSection" style="color:black; font-weight:bold;">Contact Us</h1>
    <h2 class="textSection" style="color:black; font-family:'Palatino Linotype'; font-weight:bold; text-align:center;">
    We're ready to lead you into the future of global construction &amp; project management</h2><br /><br /><br />
</div>
<br/><br />
<div class="aboutrow" style="display:inline-block;">
    <div class="aboutcolumn" style=" float:left; width:50%; ">
        <p class="textSection">
            Construction Management Global is a leading provider of global construction and project management.</p>
           <p class="textSection"> Committed to build first class Construction Management (CM) and Project Management (PM)
            organization, whose fundamentals are: trust, integrity, professionalism and value.
        </p>
        <p class="textSection" style="font-weight:bold;">Ask a Construction Management Global expert how we can help:</p>
        <ul>
            <li><p class="textSection">Assist with financial sourcing, equity and debt</p></li>
            <li><p class="textSection">Negotiate best contract with best and most qualified contractor</p></li>
            <li><p class="textSection">Complete project wrap up, collect all unconditional lien waivers and assist all involved
    partners in project closeout
</p></li>
        </ul>
    </div>
    <div class="aboutcolumn" style=" float:right;">
        <p class="textSection">Phone:</p>
        <ul><li><p class="textSection">602-799-3481</p></li></ul>
        <p class="textSection">Email:</p>
        <ul><li><a style="color:black;" href="mailto:jd.cmglobal@gmail.com"><p class="textSection">jd.cmglobal@gmail.com </p></a></li></ul>
        <p class="textSection">Address:</p>
        <ul><li><p class="textSection">7950 E Redfield, Suite 280, Scottsdale, AZ 85260</p>
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3322.649234133778!2d-111.91150318479643!3d33.61440448072727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b744dea807e29%3A0x3174a778f7eea2ea!2s7950+E+Redfield+Rd+%23280%2C+Scottsdale%2C+AZ+85260!5e0!3m2!1sen!2sus!4v1520927009307" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p></li></ul>
    </div>
</div>


<style>
    .banner {
        max-height: 500px;
        min-height:500px;
        background-image: url('Images/Four Seasons Resort Nevis1.jpg');
        background-repeat:no-repeat;
        background-size:cover;
    }
    #body{
        background-color:aliceblue;
    }
</style>