@{
    Layout = "~/_SiteLayout.cshtml";
<meta name="description" content="Our mission: Construction Management Global is committed to build first class Construction Management (CM) and Project Management (PM) organization, whose fundamentals are: trust, integrity, professionalism and value.">
<meta name="keywords" content="construction services in Arizona, construction in Tempe, construction in Mesa, General Contractor, Builder Developer in Chandler, New Home construction in Buckeye, Remodel & Restoration, Insurance Work (CAT Team), Roofs, construction in Gilbert, Rentals in Tuscon">
<meta name="author" content="Akira Web Solutions" /> 
    Page.Title = "Our References";

}

<style>
    .button2 {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: #0033ce;
        background-color: #81868a;
        text-align: center;
        cursor: pointer;
    }

    ul.services {
        display: inline-block;
    }

    #body {
        font-size: 18px; /*background-color:#db683f;*/
        background: linear-gradient(lightskyblue,grey);
    }

    ul#menu {
        margin: 0;
    }
</style>@*SLIDESHOW*@
<div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-width:1680px; text-align:center;">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/Four Seasons Resort at Troon North2.jpg" alt="Los Angeles" style="width:100%; max-height:538px;">
            </div>
            <div class="item">
                <img src="~/Images/warwick3.jpg" alt="Chicago" style="width:1680px;max-height:538px;">
            </div>
            <div class="item">
                <img src="~/Images/Seychelles Resort2.jpg" alt="New York" style="width:1680px; max-height:538px;">
            </div>
            <div class="item">
                <img src="~/Images/4.jpg" alt="New York" style="width:1680px; max-height:538px;">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span> </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Next</span> </a>
    </div>
</div>@*GLOBE, HEADER, DESCRIPTION*@
<div style="text-align:center;">
    <img src="~/Images/turninglobe2.gif" style="width:256px;" />
    <hr /> @*<h1 style="text-align:center; color:#0033ce; font-family:Aleo-BoldItalic;">Construction Management Global</h1>*@
    <h1 style="text-align:center; color:#0033ce; font-family:'Palatino Linotype';">Construction Management Global</h1>
    <hr />
</div>
<p class="textSection"> Here at Construction Management Global, our mission is to perform for our customers the highest level of quality Construction Management and Project Management at fair and market competitive prices. To ensure the longevity of our company through repeat and referral business achieved by customer satisfaction in all areas including timeliness, attention to detail and service-minded attitudes. To maintain the highest levels of professionalism, integrity, honesty and fairness in our relationships with our suppliers, subcontractors, professional associates and customers.</p>
<p class="textSection"> Construction Management Global specializes in the Development, Construction, Renovation, and FFE Procurement for the Hospitality industry, High-end residential/condominiums, and apartments; small &amp; commercial world wide.</p>@*SERVICES SECTION*@
<h2 class="textSection" style="text-align:center; font-family:'Palatino Linotype'; color:#0033ce;">Our Global Construction &amp; Management Services Include: </h2>
<div>
    <div class="float-left">
        <ul class="services">
            <li>
                <p class="textSection" style="text-indent:0px;">Assist with financial sourcing, equity and debt</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;">Project budget development</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;">Owners/lenders representatives</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;">Select qualified contractors</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;">Recommend best type of contract for project</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;">Recommend choice contractor for hire</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;">Negotiate best contract with best and most qualified contractor</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;">Offer full-time on-site CM/representation </p>
                <ul>
                    <li>
                        <p class="textSection" style="text-indent:0px;">This will depend on size and scope of work</p>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="services">
            <li>
                <p class="textSection" style="text-indent:0px;">Monitor and approve draws and recommend payments to be made by owners to contractors</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;">Assure owner all lien waivers are current and correct</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;">Assure owner plan/specifications are fully adhered to</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;">Assure owner all permits/inspections are done on timely basis</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;"> Monitor progress and any changes in scope of work to avoid change orders to protect cost overruns or approve change orders if appropriate and valid</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;">Assure project is completed on timely and agreed upon basis</p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;"> Assure owner is given all warranties as required by plans/specifications and governmental agencies </p>
            </li>
            <li>
                <p class="textSection" style="text-indent:0px;"> Complete project wrap up, collect all unconditional lien waivers and assist all involved partners in project closeout </p>
            </li>
        </ul>
    </div>
</div>
<p class="textSection" style="text-indent:0px;">
    If that sounds like just what you need, give Construction Management Global a call
    <a href="tel:+16027993481">602-799-3481</a> or send us an
    <a href="mailto:jd.cmglobal@gmail.com">email</a>.
</p>
<h2 class="textSection" style="text-align:center; font-family:'Palatino Linotype'; color:#0033ce;">Our Professional Associates &amp; Key Vendors: </h2>
<div>
    <ul>
        <li>
            <p>Rafael Shenk, President</p>
            <ul>
                <li>
                    <p class="textSection" style="text-indent:0px;">Shenk-Trade | FFE Manufacturer </p>
                </li>
                <li>
                    <button class="button2" onclick="window.open('https://senkinterior.com/sl/')">View Website</button>
                </li>
            </ul>
        </li>
        <li>
            Joshua Oehler, Registered Architect, NCARB, LEED AP

            PRESIDENT
            <ul>
                <li>
                    <p class="textSection" style="text-indent:0px;">Architect with 20+ years experience specializing in small multi residential &amp; small commercial projects
                </li>
                <li>
                    <button class="button2" onclick="window.open('http://www.arconeassociates.com/about-us.html')">View Website</button>
                </li>
            </ul>
        </li>
    </ul>
</div>