@{
    <meta name="description" content="Our mission: Construction Management Global is committed to build first class Construction Management (CM) and Project Management (PM) organization, whose fundamentals are: trust, integrity, professionalism and value.">
    <meta name="keywords" content="construction services in Dubai, construction in Germany, construction in Italy, France, General Contractor, Builder Developer in Austria, New Home construction in Romania, Remodel & Restoration, Insurance Work (CAT Team), Roofs, construction in Romania, Rentals in Hungary">
    <meta name="author" content="Taylor Bishop" />
    Page.Title = "Our References";
    Layout = "~/_SiteLayout.cshtml";
}
<br />

<h1 class="textSection"> Personal and Profesional References</h1>
@*WEBSITE PREVIEWS*@
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Images/Peter H. Thomas.jpg" alt="Peter H. Thomas" style="width:100%; max-height:543px;">
            <div class="container2">
                <h2>Peter H. Thomas</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">Chairman</p>
                <p style="font-family:aleo-italic;">
                    A Canadian entrepreneur, investor, author, public speaker, and philanthropist.
                    Thomas was the founding partner and chairman of Century 21 Real Estate Canada Ltd and Samoth Capital Corporation (now known as Sterling Centrecorp Inc.).
                    He is currently the founder and chairman of Thomas Pride International and its affiliates, including Thomas Franchise Solutions as well as LifePilot.

                </p>

                <p><button class="button" onclick="window.open('https://www.linkedin.com/in/peterhthomas1/')">View More</button></p>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Images/Frank Orenstein2.jpg" alt="Frank Orenstein" style="width:100%; max-height:543px;">
            <div class="container2">
                <h2>Frank Orenstein</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">Chairman</p>
                <p style="font-family:aleo-italic;">
                    Mr. Orenstein’s career encompasses many landmark events in the hotel industry.
                    As Vice President of Development for Four Seasons Hotels Limited, Mr. Orenstein initially assisted in developing the original Four Seasons’ concept and developed the first Four Seasons’ properties in the United States, Canada and Europe.
                    As a member of the Executive Committee, he was instrumental in Four Seasons’ early growth.<br />
                </p>
                <p><button class="button" onclick="window.open('http://www.hospitalityinvestors.com/Frank_Orenstein.asp')">View More</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/Images/Fred W. Wagenhals3.jpg" alt="Fred Wagenhals" style="width:100%; max-height:543px;">
            <div class="container2">
                <h2>Fred W. Wagenhals</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">Founder</p>
                <p style="font-family:aleo-italic;">
                    Mr. Fred W. Wagenhals is a Chairman, President, CEO & Secretary at AMMO, Inc.
                    Mr. Wagenhals was previously employed as a Chairman, President & Chief Executive Officer by Action Performance Cos., Inc. and a Professor by University of Arizona.<br /><br /><br />
                </p>
                <p><button class="button" onclick="window.open('https://www.bloomberg.com/research/stocks/private/person.asp?personId=328000&privcapId=418572555')">View More</button></p>
            </div>
        </div>
    </div>
</div>
@*END ROW*@

<div class="row">
    <div class="column">
        <div class="card">
            @*<img src="~/Images/Peter H. Thomas.jpg" alt="Peter H. Thomas" style="width:100%">*@
            <div class="container2">
                <h2>Richard L. Johns</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">Developer (Princess Resort, Boulders Resort, and many others)</p>
                <p style="font-family:aleo-italic;">
                    <br /><br />

                </p>

                <p><button class="button" onclick="window.open('http://www.constructionmanagementglobal.com/Contact.cshtml')">Contact information is available upon request.</button></p>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            @*<img src="~/Images/Frank Orenstein2.jpg" alt="Richard L. Johns" style="width:100%; max-height:543px;">*@
            <div class="container2">
                <h2>Dr. Rahul Reddy</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">
                    Area Representative of Kentucky, Cincinnati, Columbus and Franchisee at
                    spa810
                </p>
                <p style="font-family:aleo-italic;">
                    <br />
                </p>
                <p><button class="button" onclick="window.open('http://www.constructionmanagementglobal.com/Contact.cshtml')">Contact information is available upon request.</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            @*<img src="~/Images/Fred W. Wagenhals3.jpg" alt="Fred Wagenhals" style="width:100%; max-height:543px;">*@
            <div class="container2">
                <h2>Dr. Nishant Kalra</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">Area Representative of Houston, Texas and Franchisee at spa810</p>
                <p style="font-family:aleo-italic;">
                    <br /><br />
                </p>
                <p><button class="button" onclick="window.open('http://www.constructionmanagementglobal.com/Contact.cshtml')">Contact information is available upon request.</button></p>
            </div>
        </div>
    </div>
</div>



@*END ROW*@

<div class="row">
    <div class="column">
        <div class="card">
            @*<img src="~/Images/Peter H. Thomas.jpg" alt="Peter H. Thomas" style="width:100%">*@
            <div class="container2">
                <h2>Fabio Hugonnet</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">Area Representative of Orlando, Florida and Franchisee at spa810</p>
                <p style="font-family:aleo-italic;">
                    <br /><br /><br />

                </p>

                <p><button class="button" onclick="window.open('http://www.constructionmanagementglobal.com/Contact.cshtml')">Contact information is available upon request.</button></p>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            @*<img src="~/Images/Frank Orenstein2.jpg" alt="Richard L. Johns" style="width:100%; max-height:543px;">*@
            <div class="container2">
                <h2>Jeff O’Bryan</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">
                    Area Representative of Oklahoma and Franchisee at spa810
                </p>
                <p style="font-family:aleo-italic;">
                    <br /><br /><br />
                </p>
                <p><button class="button" onclick="window.open('http://www.constructionmanagementglobal.com/Contact.cshtml')">Contact information is available upon request.</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            @*<img src="~/Images/Fred W. Wagenhals3.jpg" alt="Fred Wagenhals" style="width:100%; max-height:543px;">*@
            <div class="container2">
                <h2>Mike Antonucci</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">Area Representative of Illinois and Tampa at spa810</p>
                <p style="font-family:aleo-italic;">
                    <br /><br /><br />
                </p>
                <p><button class="button" onclick="window.open('http://www.constructionmanagementglobal.com/Contact.cshtml')">Contact information is available upon request.</button></p>
            </div>
        </div>
    </div>
</div>

@*END ROW*@

<div class="row">
    <div class="column">
        <div class="card">
            @*<img src="~/Images/Peter H. Thomas.jpg" alt="Peter H. Thomas" style="width:100%">*@
            <div class="container2">
                <h2>Ron Kouchi</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">Senior Senator State of Hawaii – Personal</p>
                <p style="font-family:aleo-italic;">
                    <br /><br /><br />

                </p>

                <p><button class="button" onclick="window.open('http://www.constructionmanagementglobal.com/Contact.cshtml')">Contact information is available upon request.</button></p>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            @*<img src="~/Images/Frank Orenstein2.jpg" alt="Richard L. Johns" style="width:100%; max-height:543px;">*@
            <div class="container2">
                <h2>Harvey Funderburk</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">
                    Personal
                </p>
                <p style="font-family:aleo-italic;">
                    <br /><br /><br />
                </p>
                <p><button class="button" onclick="window.open('http://www.constructionmanagementglobal.com/Contact.cshtml')">Contact information is available upon request.</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            @*<img src="~/Images/Fred W. Wagenhals3.jpg" alt="Fred Wagenhals" style="width:100%; max-height:543px;">*@
            <div class="container2">
                <h2>John Kleinwachter</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">Personal</p>
                <p style="font-family:aleo-italic;">
                    <br /><br /><br />
                </p>
                <p><button class="button" onclick="window.open('http://www.constructionmanagementglobal.com/Contact.cshtml')">Contact information is available upon request.</button></p>
            </div>
        </div>
    </div>
</div>


@*END ROW*@

<div class="row">
    <div class="column">
        <div class="card">
            @*<img src="~/Images/Peter H. Thomas.jpg" alt="Peter H. Thomas" style="width:100%">*@
            <div class="container2">
                <h2>Freddy O’Pry</h2>
                <p class="title" style="color:#0033ce; font-weight:bold;">Personal</p>
                <p style="font-family:aleo-italic;">
                    <br /><br /><br />

                </p>

                <p><button class="button" onclick="window.open('http://www.constructionmanagementglobal.com/Contact.cshtml')">View More</button></p>

            </div>
        </div>
    </div>
</div>




<style>
    ul#menu {
        margin: 0;
    }

    #body {
        background: linear-gradient(grey,lightskyblue);
    }
</style>